@import "bootstrap";
@import "compass";
html {
  font-size: 65%;
}
body {
  font-family: Lato,"游ゴシック",YuGothic,"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  background: #fff;
}
.wrapper {
  margin: 0 auto;
  padding: 60px 0;
  width: 100%;
}
.gheader {
  background: #f6f6f6;
  height: 66px;
}
.work-item {
  margin: 0 0 40px;
  &__inner {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
  &__thumbnail {
    img {
      width: 100%;
    }
  }
  &__desc {
    background: #fff;
    padding: 20px;
    a {
      color: #000;
      font-size: 1.6rem;
      text-decoration: none;
    }
  }
}

.post {
  &__body {
    font-size: 1.6rem;
    margin: 0 0 16px;
  }
  &__title {
    font-size: 2.8rem;
    font-weight: bold;
    margin: 0 0 30px;
  }
  &__thumbnail {
    text-align: center;
    margin: 0 0 60px;
    img {
      max-width: 100%;
    }
  }
  &__head--medium {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 45px 0 15px;
  }
}

@media screen and (min-width: 1100px) {
  .wrapper {
    width: 1100px;
  }
}
@media screen and (min-width: 900px) {
  .wrapper {
    &--post {
      width: 900px;
    }
  }
}
